<div class="keys shadow">
  <div class="keys__left">
    <div>
      <div>
        <button (click)="this.clearFunc.emit()">AC</button>
        <button (click)="this.changePrefix.emit()">+/-</button>
        <button (click)="this.calculatePercentage.emit()">%</button>
      </div>
      <div>
        <button (click)="this.loadCalculate.emit('1')">1</button>
        <button (click)="this.loadCalculate.emit('2')">2</button>
        <button (click)="this.loadCalculate.emit('3')">3</button>
      </div>
      <div>
        <button (click)="this.loadCalculate.emit('4')">4</button>
        <button (click)="this.loadCalculate.emit('5')">5</button>
        <button (click)="this.loadCalculate.emit('6')">6</button>
      </div>
      <div>
        <button (click)="this.loadCalculate.emit('7')">7</button>
        <button (click)="this.loadCalculate.emit('8')">8</button>
        <button (click)="this.loadCalculate.emit('9')">9</button>
      </div>
      <div>
        <button (click)="this.loadCalculate.emit('.')">.</button>
        <button (click)="this.loadCalculate.emit('0')">0</button>
        <button (click)="this.loadCalculate.emit('00')">00</button>
      </div>
    </div>
  </div>
  <div class="keys__right">
    <div>
      <button (click)="this.loadCalculate.emit('/')">÷</button>
      <button (click)="this.loadCalculate.emit('*')">×</button>
      <button (click)="this.loadCalculate.emit('-')">-</button>
      <button (click)="this.loadCalculate.emit('+')">+</button>
      <button (click)="this.calculateFunc.emit()">=</button>
    </div>
  </div>
</div>
