<div class="keys shadow">
  <div class="keys__left">
    <div>
      <div *ngFor="let row of keypadRows">
        <button
          *ngFor="let button of row"
          (click)="onButtonClick(button.label)"
        >
          {{ button.label }}
        </button>
      </div>
    </div>
  </div>
  <div class="keys__right">
    <div>
      <button (click)="this.loadCalculate.emit('/')">÷</button>
      <button (click)="this.loadCalculate.emit('*')">×</button>
      <button (click)="this.loadCalculate.emit('-')">-</button>
      <button (click)="this.loadCalculate.emit('+')">+</button>
      <button (click)="this.calculateFunc.emit()">=</button>
    </div>
  </div>
</div>
