<div
  class="screen"
  [ngStyle]="{
    color: isActive ? '#fff' : '#111'
  }"
>
  <div *ngIf="this.historyClicked === true; else elseBlock">
    <p>History</p>
    <div class="screen__main" *ngFor="let data of history">
      <div class="screen_cal">
        {{ data.value }}
      </div>
      <div class="screen_result">
        {{ data.result }}
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div
      class="screen__main"
      [ngStyle]="{
        color: isActive ? '#fff' : '#111'
      }"
    >
      <div class="screen_cal">
        {{ value }}
      </div>
      <div class="screen_result">
        {{ result }}
      </div>
    </div>
  </ng-template>
</div>
