@import "../../vars.scss";

.screen {
  @include display(flex, column, end, end);
  @include size(100%, 250px);
  padding: 30px;
  color: var(--text-color);
}

.screen__main {
  @include display(flex, column, end, end);
}

.screen_cal {
  @include font(20px, 600);
  opacity: 0.75;
}

.screen_result {
  @include font(40px, 600);
}
