.main {
  width: 400px;
  height: 700px;
  border-radius: 20px;
}

.main__top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.main__top-bar {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.main__top-history {
  position: absolute;
  right: 10px;
  border: none;
  background: transparent;
  outline: none;
}

.main__top-toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 122px;
  height: 44px;
  background-color: #a9dcfd;
  border-radius: 50px;
}

.main__top-ball {
  position: absolute;
  border: none;
  outline: none;
  width: 68px;
  height: 44px;
  border-radius: 50px;
  background-color: #d8eeff;
}

.main__top-sun {
  pointer-events: none;
  z-index: 5;
  padding-left: 15px;
}
.main__top-moon {
  pointer-events: none;
  z-index: 5;
  padding-right: 15px;
}

.keys {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.keys__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.keys__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.keys__circle-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 50px;
}

.keys__circle-top button {
  outline: none;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 18px;
}
.keys__circle-row {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.keys__circle-row button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
}

.keys__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.keys__right-side {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  width: 60%;
  padding-top: 10px;
  gap: 32px;
}

.keys__right button {
  outline: none;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
}

.keys__right .keys__right-equal {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  width: 100%;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 250px;
  width: 100%;
  padding: 30px;
}

.screen__main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.screen_cal {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.75;
}

.screen_result {
  font-size: 40px;
  font-weight: 600;
}
