@import "./vars.scss";

.main {
  @include display(flex, row, center, center);
  width: 100%;
  height: 100%;
  & > div {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(#000, 0.175);
    & > div {
      @include display(flex, row, center, center);
      position: relative;
      width: 100%;
    }
  }
}
