<div
  class="d-flex justify-content-center align-items-center w-100 h-100"
  [ngStyle]="{
    'background-color': isActive ? '#333' : '#fff'
  }"
>
  <div class="main shadow">
    <!-- main top -->
    <div class="main__top">
      <app-toogle-bar
        [isActive]="isActive"
        (toggleScreen)="toggleScreen()"
      ></app-toogle-bar>

      <app-history
        (getHistory)="getHistory()"
        [isActive]="isActive"
      ></app-history>
    </div>
    <app-main-screen
      [isActive]="isActive"
      [historyClicked]="historyClicked"
      [history]="history"
      [value]="value"
      [result]="result"
    >
    </app-main-screen>

    <app-keys
      [isActive]="isActive"
      (clearFunc)="clearFunc()"
      (changePrefix)="changePrefix()"
      (calculateFunc)="calculateFunc()"
      (loadCalculate)="loadCalculate($event)"
      (calculatePercentage)="calculatePercentage()"
    ></app-keys>
  </div>
</div>
