.main {
  width: 400px;
  height: 700px;
  border-radius: 20px;
}

.main__top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}

