:root {
  --main-bg: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 219, 219, 1) 50%
  );
  --secondary-bg: linear-gradient(
    326deg,
    rgba(138, 212, 254, 1) 60%,
    rgba(234, 234, 234, 1) 100%
  );
  --transparent-bg: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --img-filter: none;
}
// light-theme
[data-theme="light"] {
  --main-bg: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 219, 219, 1) 50%
  );
  --secondary-bg: linear-gradient(
    326deg,
    rgba(138, 212, 254, 1) 60%,
    rgba(234, 234, 234, 1) 100%
  );
  --transparent-bg: rgba(255, 255, 255, 0.5);
  --text-color: black;
  --img-filter: none;
}
// dark theme
[data-theme="dark"] {
  --main-bg: linear-gradient(180deg, rgb(22, 26, 40) 10%, rgb(0, 0, 0) 90%);
  --secondary-bg: linear-gradient(
    55deg,
    rgb(10, 29, 48) 0%,
    rgb(21, 64, 86) 100%
  );
  --transparent-bg: rgba(0, 0, 0, 0.255);
  --text-color: white;
  --img-filter: brightness(5);
}
