.main__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.main__top-toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 122px;
  height: 44px;
  background-color: #a9dcfd;
  border-radius: 50px;
}

.main__top-ball {
  position: absolute;
  border: none;
  outline: none;
  width: 68px;
  height: 44px;
  border-radius: 50px;
  background-color: #d8eeff;
}

.main__top-sun {
  pointer-events: none;
  z-index: 5;
  padding-left: 15px;
}
.main__top-moon {
  pointer-events: none;
  z-index: 5;
  padding-right: 15px;
}
