:root {
  --main-bg: #fff;
  --secondary-bg: linear-gradient(30deg, #9ee8ff, #5aceff, #79afff, #2d5fde);
  --toggle-bg: #a9dcfd;
  --toggle-color: #d8eeff;
  --toggle-transform: translateX(0);
  --text-color: #111;
}

[data-theme="light"] {
  --main-bg: #fff;
  --secondary-bg: linear-gradient(30deg, #9ee8ff, #5aceff, #79afff, #2d5fde);
  --toggle-bg: #a9dcfd;
  --toggle-color: #d8eeff;
  --toggle-transform: translateX(0);
  --text-color: #111;
}

[data-theme="dark"] {
  --main-bg: #333;
  --secondary-bg: linear-gradient(180deg, #42869b, #2a7da1, #224e91, #00123f);
  --toggle-bg: #1b6a9c;
  --toggle-color: #003661;
  --toggle-transform: translateX(54px);
  --text-color: #fff;
}

html,
body {
  height: 100%;
}
